/*iconos google*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

header > span#iconoAuto
{
    position: absolute;
    left: 91%;
    top: 20%;
    color: black;
    font-size: 2em;
}

/*generales*/
html, body
{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body
{
    background-color: white;
    color: #02040f;
    box-sizing: border-box;
}

/*header*/

header
{
    display: flex;
    max-height: 40vh;
    width: 100vw;
}

header img#logo
{
    position: relative;
    left: 5%;
    background-color: white;
    height: 40vh;
}

header > input#barraBuscador
{
    position: absolute;
    top: 20%;
    left: 60%;
    height: 5vh;
    width: 30vw;
}

/*navegacion*/

nav
{
    display: flex;
    margin: 0;
    background-color: gainsboro;
    height: 7vh;
}

nav > a
{
    text-decoration: none;
    width: 10vw;
    padding: 13px;
    text-align: center;
    font-weight: bold;
    color: black;
    transition: all 0.3s;
}

nav > a:hover
{
    background-color: #FF5A36;
}

/*main*/

main section#contenidoSlider
{
    display: flex;
    background-color: white;
    height: 100vh;
}

main > section > div#slider
{
    width: 50vw;
    margin: auto;
}

main > section#contenidoPosSlider
{
    display: flex;
    background-color: gainsboro;
    height: 30vh;
}

/*footer*/

footer div.finalPag
{
    background-color: black;
    height: 70vh;
    border: 1px solid black;
    color: orangered;
    text-align: center;
}

footer div.finalPag h3 > span
{
    font-size: 20px;
    font-family: monospace;
    color: orangered;
}