/*generales*/
html, body
{
    height: 100vh;
    width: 100vw;
}

body
{
    background-color: white;
    color: #02040f;
    box-sizing: border-box;
}

/*header*/

header
{
    display: flex;
    max-height: 40vh;
    width: 100vw;
}

header img#logo
{
    position: relative;
    left: 5%;
    background-color: white;
    height: 40vh;
}

header > input#barraBuscador
{
    position: absolute;
    top: 20%;
    left: 60%;
    height: 5vh;
    width: 30vw;
}

/*navegacion*/

nav#menu
{
    display: flex;
    border: 1px solid black;
    margin: 0;
    background-color: gainsboro;
}

/*main*/

main section.contenido
{
    display: flex;
    border: 1px solid black;
    background-color: darkgrey;
    height: 500px;
}

/*footer*/

footer div.finalPag
{
    background-color: black;
    height: 200px;
    border: 1px solid black;
    color: orangered;
    text-align: center;
}

footer div.finalPag h3 > span
{
    font-size: 20px;
    font-family: monospace;
    color: orangered;
}