body
{
    height: 100%;
    max-width: 100%;
    background-color: white;
    color: #02040f;
    margin: 0%;
}

header div.logo
{
    display: flex;
    border: 1px solid black;
    background-color: white;
    height: 250px;
}

header div.logo > img
{
    border: 1px solid black;
}

div.menu
{
    display: flex;
    border: 1px solid black;
    margin: 0;
    background-color: gainsboro;
}

div.contenido
{
    display: flex;
    border: 1px solid black;
    background-color: darkgrey;
    height: 500px;
}

footer div.finalPag
{
    background-color: black;
    height: 200px;
    border: 1px solid black;
    color: orangered;
    text-align: center;
}

footer div.finalPag h3 > span
{
    font-size: 20px;
    font-family: monospace;
    color: orangered;
}